.navbar {
    background-color: #E0F6B2;
}
.logo {
    padding-left: 10p;
}
.btn {
    background-color: green;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}